target/
.project
.settings
/.classpath
/.pydevproject
*.iml
.DS_Store
/logs/
.idea/
logs/
system-config-result.json
support/scripts/logs/
support/scripts/config-include/
support/scripts/backup
support/scripts/system-config-result.json
