<div class="clear"></div>
<div class="footer"> 
  <div id="copyright">
	  This project is supported by the Australian National Data Service (ANDS). ANDS is supported by the Australian
	  Government through the National Collaborative Research Infrastructure Strategy Program and the Education
	  Investment Fund (EIF) Super Science Initiative.
  </div>
  <div id="ands_logo">
	  <a href="http://ands.org.au" target="_blank">
		  <img alt="ANDS logo" src="$portalPath/images/logo_ands.gif" align="right"/>
	  </a>
  </div>
</div>


