#parse($page.getTemplate('layout/header-right.vm'))

<div class="header">
  <h1 id="branding">
    <a href="$portalPath/home">
	  <img alt="Stash Logo" src="$portalPath/images/logo_stash.gif" align="left" style="margin-left: 20px;" />
	</a>
	<a href="http://uts.edu.au">
		<img id="banner" alt="UTS Logo" src="$portalPath/images/logo_uts.gif" align="right" />
	</a>
  </h1>
</div>

<div class="clear"></div>
