## placeholder for additional link elements
<link rel="stylesheet" type="text/css" href="$portalPath/uts.css" />

<link rel="stylesheet" type="text/css" href="$portalPath/js/autocomplete/jquery.autocomplete.css" />